body {
    font-family: sans-serif;
}

.bands span {
    display:block;
    font-size: 40px;
}


#snowflakeContainer {
    background-color: #aaa;
    width: 100%;
}


.awesome {
  text-shadow: 0 1px 0 #99cccc, 0 2px 0 #39c9c9, 0 3px 0 #88bbbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(140, 177, 0, 0.5), 0 0 5px rgba(0, 0, 180, 0.4), 0 1px 3px rgba(0, 244, 0, 0.5), 0 3px 5px rgba(0, 127, 240, 0.4), 0 5px 10px rgba(127, 255, 0, 0.4), 0 10px 10px rgba(0, 127, 255, 0.4), 0 20px 20px rgba(24, 180, 180, 0.35), 0 40px 40px rgba(0, 255, 128, 0.30), 0 80px 80px rgba(255, 128, 0, 0.10)
}

.post {
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.post img {
    width: 25%;
}

button {
    touch-action: manipulation;
}

#gameboard {
    touch-action: none;
}

.container {
    display:flex;
    justify-content:center;
    margin:100px;
}
